<div class="about-container">
    <h1>ACERCA DE ESTE PROYECTO</h1>
    <p>Este sistema fue desarrollado como parte de la evaluación del 2do Parcial en la materia de <strong>Desarrollo Web Profesional</strong>. 
       Su objetivo es gestionar información mediante diferentes módulos interactivos estableciendo una conexión con Firebase.</p>

    <div class="info-card">
        <h2>Detalles del Proyecto</h2>
        <ul>
            <li><strong>Alumno:</strong> Leonardo Jesús Morales Trejo</li>
            <li><strong>Materia:</strong> Desarrollo Web Profesional</li>
            <li><strong>Profesor:</strong> Alejandro César Valencia García</li>
            <li><strong>Grupo:</strong> DS03SV-24</li>
            <li><strong>Cuatrimestre:</strong> 8vo</li>
            <li>
              <strong>Repositorio GitHub: </strong>
                <a href="https://github.com/leo-morales-dev/evaluacion2.git" target="_blank" rel="noopener noreferrer">
                  https://github.com/leo-morales-dev/evaluacion2.git
                </a>
            </li>
        </ul>
    </div>
</div>
