<div class="sidenav" [ngClass]="{'expanded': isExpanded}">
  <!-- Botón para expandir/cerrar -->
  <div class="logo-container" (click)="toggleSidenav()">
    <span class="menu-icon">☰</span>
    <span class="logo-text" *ngIf="isExpanded">EVALUACIÓN</span>
  </div>

  <!-- Menú de navegación -->
  <ul class="nav-list">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fa-solid fa-house"></i> <span *ngIf="isExpanded">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/libros" routerLinkActive="active">
        <i class="fas fa-book"></i> <span *ngIf="isExpanded">Libros</span>
      </a>
    </li>
    <li>
      <a routerLink="/productos">
        <i class="fas fa-shopping-cart"></i> <span *ngIf="isExpanded">Productos</span>
      </a>
    </li>
    <li>
      <a routerLink="/ejercicio1">
        <i class="fas fa-tasks"></i> <span *ngIf="isExpanded">Ejercicio 1</span>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fas fa-info-circle"></i> <span *ngIf="isExpanded">Acerca de</span>
      </a>
    </li>
  </ul>
</div>

<!-- Contenido Principal -->
<div class="content" [ngClass]="{'expanded': isExpanded, 'collapsed': !isExpanded}">
  <router-outlet></router-outlet>
</div>
